.tech {
  background: url("../assets/tech/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */
  min-height: 100vh;

}

.tech .tech-title {
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  font-size: 16px;
  letter-spacing: 2.7px;
  line-height: 19px;
  text-align: center;
}

.tech .tech-title span {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  color: white;
  opacity: 0.25;
  margin-right: 18px;
  font-size: 16px;
}

.tech .tech-img {
  width: 375px;
  height: 170px;
  display: block;
  margin: 2.5rem auto;
}

.tech .btn-box {
  margin: 0 auto;
  width: 152px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.tech button {
  background-color: var(--black);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: white;
  font-family: "Bellefair";
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
}

.tech button.active {
  border: 1px solid white;
  background-color: white;
  color: var(--black);
}

.tech .tech-text-box {
  margin: 1rem 1rem 0;
  color: white;
  text-align: center;
}

.tech .tech-term {
  font-family: "Barlow Condensed";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  color: var(--gray);
}

.tech .tech-name {
  font-family: "Bellefair";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0.5rem auto 1rem auto;
}

.tech .tech-desc {
  color: var(--gray);
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 3.5rem;
}




@media only screen and (min-width: 768px) {
  .tech {
    background: url("../assets/tech/background-technology-tablet.jpg") no-repeat;
    background-size: cover;
    height: 100%;

  }

  .tech .tech-title {
    margin-left: 39px;
    margin-top: 3rem;
    text-align: initial;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }

  .tech .tech-title span {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }

  .tech .tech-img {
    width: 100%;
    height: 100%;
    margin: 3.5rem auto;
  }

  .tech .btn-box {
    width: 210px;
    height: 60px;
  }

  .tech button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.5px;
  }

  .tech .tech-text-box {
    max-width: 458px;
    margin: 2rem auto 0 auto;
  }

  .tech .tech-term {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    padding-bottom: 1rem;
  }

  .tech .tech-name {
    font-size: 40px;
    line-height: 46px;
    margin: 0.5rem auto 1rem auto;
  }

  .tech .tech-desc {
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 3.79rem;
  }
}



@media only screen and (min-width: 1440px) {
  .tech {
    background: url("../assets/tech/background-technology-desktop.jpg") no-repeat;
    background-size: cover;
  }

  .tech .tech-title {
    margin: 4rem 9.5rem;
    text-align: initial;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
  }

  .tech .tech-title span {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    margin-right: 28px;
  }

  .tech .tech-container-desktop {
    display: flex;
    align-items: flex-start;
    position: relative;
  }

  .tech .btn-box {
    order: 0;
    flex-direction: column;
    width: 80px;
    height: 303px;
    margin-left: 9.5rem;
    margin-top: 5rem;
  }

  .tech .btn-box button {
    width: 80px;
    height: 80px;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    margin: 0;
  }

  .tech .tech-text-box {
    margin: 0;
    margin-right: 6.5rem;
    margin-top: 5rem;
    max-width: 470px;
    height: 303px;

  }

  .tech .tech-text-box .tech-term {
    text-align: left;
    padding: 0;
  }

  .tech .tech-text-box .tech-name {
    font-size: 56px;
    line-height: 64px;
    text-align: left;
    width: 470px;

  }

  .tech .tech-desc {
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 0;
    text-align: left;
    width: 444px;

  }

  .tech .tech-img {
    width: 515px;
    height: 527px;
    margin: 0;
    order: 3;
    margin-bottom: 3.5rem;
  }
}